In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (1.9.5)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.22.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.25.8)

In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

QUESTION 1: Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [9]:
def header_tag(url):
    a=requests.get(url)
    b=a.content
    soup=BeautifulSoup(b,'html.parser')
    return soup.find_all(['h1','h2','h3','h4','h5'])

header_tag("https://en.wikipedia.org/wiki/Main_Page")

[<h1 class="firstHeading" id="firstHeading" lang="en">Main Page</h1>,
 <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>,
 <h2>Navigation menu</h2>,
 <h3 id="p-personal-label">
 <span>Personal tools</span>
 </h3>,
 <h3 id="p-namespaces-label">
 <span>Namespaces</span>
 </h3>,
 <h3 id="p-variants-label">
 <span>Variants</span>
 </h3>,
 <h3 id="p-views-label">
 <span>Views</span>
 </h3>,
 <h3 id="p-cactions-label">
 <span>More</span>
 </h3>,
 <h3>
 <label for="searchInput">Search</label>
 </h3>,
 <h3 id="p-navigation-label">
 <span>Navigation</span>
 </h3>,
 <h3 id="p-interaction-label">
 <span>Contribute</span>
 </h3>,
 <h3 id="p-tb-label">
 <span>Tools</span>
 </h3>,
 <h3 id="p-coll-print_export-label">
 <span>Print/export</span>
 </h3>,
 <h3 id="p-wikibase-otherprojects-label">
 <span>In other projects</span>
 </h3>,
 <h3 id="p-lang-label">
 <span>Languages</span>
 </h3>]

Question 2: Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of
release) and save it in form of a CSV file.

In [11]:
def top100_movie_IMDB(url):
    a=requests.get(url)
    soup=BeautifulSoup(a.content,'html.parser')
    
    # Lets make some blank lists
    name=[]
    ratings=[]
    year=[]
    
    for i in soup.find_all('img'):
        name.append(i.attrs['alt'])
    for i in soup.find_all('strong'):
        ratings.append((float(i.text)))
    for i in list(soup.find_all('span',attrs={'secondaryInfo'})):
        year.append(i.text)
        
    df1=pd.DataFrame({'Movie Name':name[0:100],
                     'IMDB Rating':ratings[0:100],
                     'Release Year':year[0:100]})    
    print(df1)

top100_movie_IMDB('https://www.imdb.com/chart/top')

                  Movie Name  IMDB Rating Release Year
0   The Shawshank Redemption          9.2       (1994)
1              The Godfather          9.1       (1972)
2     The Godfather: Part II          9.0       (1974)
3            The Dark Knight          9.0       (2008)
4               12 Angry Men          8.9       (1957)
..                       ...          ...          ...
95              Citizen Kane          8.3       (1941)
96                    Dangal          8.3       (2016)
97         Full Metal Jacket          8.2       (1987)
98       Ladri di biciclette          8.2       (1948)
99       Singin' in the Rain          8.2       (1952)

[100 rows x 3 columns]

Question:3 Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year
of release) and save it in form of a CSV file.

In [12]:
def top100_Indian_movie_IMDB(url):
    a=requests.get(url)
    soup=BeautifulSoup(a.content,'html.parser')
    
    # Lets make some blank lists
    name=[]
    ratings=[]
    year=[]
    
    for i in soup.find_all('img'):
        name.append(i.attrs['alt'])
    for i in soup.find_all('strong'):
        ratings.append((float(i.text)))
    for i in list(soup.find_all('span',attrs={'secondaryInfo'})):
        year.append(i.text)
        
    df1=pd.DataFrame({'Movie Name':name[0:100],
                     'IMDB Rating':ratings[0:100],
                     'Release Year':year[0:100]})    
    print(df1)
    
top100_Indian_movie_IMDB('https://www.imdb.com/india/top-rated-indian-movies/')

         Movie Name  IMDB Rating Release Year
0   Pather Panchali          8.5       (1955)
1          Ratsasan          8.5       (2018)
2          Gol Maal          8.5       (1979)
3           Nayakan          8.5       (1987)
4        Anbe Sivam          8.5       (2003)
..              ...          ...          ...
95       Bommarillu          8.0       (2006)
96            Lucia          8.0       (2013)
97          Maqbool          8.0       (2003)
98           Bombay          8.0       (1995)
99           Omkara          8.0       (2006)

[100 rows x 3 columns]

Question 7: Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The
scraped data should include Product Name, Price, Image URL and Average Rating.

Question 8: Write a python program to extract information about the local weather from the National Weather Service
website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day
extended forecast display for the city. The data should include period, short description, temperature and
description.

In [21]:
# Function Definition
def weather(url):
    a=requests.get(url)
    soup=BeautifulSoup(a.content,'html.parser')
    period=[]
    short_desc=[]
    temp=[]
    desc=[]
    for i in soup.find_all('p',attrs={'period-name'}):
        period.append(i.text)
    for i in soup.find_all('p',attrs={'short-desc'}):
        short_desc.append(i.text)
    for i in soup.find_all('p',attrs={'short-desc'}):
        if i.next_sibling is not None:
            temp.append(i.next_sibling.text)
        else:
            temp.append(' ')
    for i in soup.find_all('div',attrs={"col-sm-10 forecast-text"}):
        desc.append(i.text)
    df=pd.DataFrame({"Period":period,
                     "Short_description":short_desc,
                     "Temperature":temp,
                     "Description":desc[0:9]})
    df.to_csv('Extended_forecast.csv')
    print(df)

# Calling Function
weather("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.X6Pyxe3hWMo")

                Period       Short_description  Temperature  \
0  NOW until7:00pm Sat      High Surf Advisory
1                Today                   Sunny  High: 67 °F
2              Tonight            Mostly Clear   Low: 51 °F
3               Sunday                   Sunny  High: 68 °F
4          SundayNight            Mostly Clear   Low: 51 °F
5          M.L.KingDay                   Sunny  High: 67 °F
6          MondayNight  Mostly Clearand Breezy   Low: 52 °F
7              Tuesday         Sunny andBreezy  High: 66 °F
8         TuesdayNight            Mostly Clear   Low: 47 °F

                                         Description
0  Sunny, with a high near 67. Calm wind becoming...
1    Mostly clear, with a low around 51. Calm wind.
2  Sunny, with a high near 68. Calm wind becoming...
3  Mostly clear, with a low around 51. West wind ...
4  Sunny, with a high near 67. North wind around ...
5       Mostly clear, with a low around 52. Breezy.
6               Sunny, with a high near 66. Breezy.
7                Mostly clear, with a low around 47.
8                        Sunny, with a high near 64.

Question 9: Write a python program to scrape ‘software developer’ job listings from ‘Monster.com’. It should include all
the jobs listed for the next 5 pages.

In [32]:
def soft_dev(url):
    driver=webdriver.Chrome(r'C:\Users\chromedriver')
    driver.get(url)
    start_page=0
    end_page=4
    urls=[]
    job_names=[]
    company=[]
    location=[]
    for page in range(start_page,end_page+1):
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        jobs=soup.find_all('div', attrs ={'class':'job-tittle'})
        for job in jobs:
            l=job.text.split('\n')
            job_names.append(l[0].split('  ')[0])
            company.append(l[0].split('  ')[1])
            location.append(l[1])
                
        nxt_button=driver.find_element_by_xpath("//button[@class='btn-next-prev btn-next']")
        if nxt_button.text=='Next':
            nxt_button.click()
            
    job_df=pd.DataFrame({'Job_Names':job_names,
                         'Company':company,
                         'location':location
                         })
    print(job_df)


soft_dev("https://www.monsterindia.com/srp/results?query=software%20developer&searchId=1eef9a54-8213-4bcf-9ef7-8605ec8202c5")

                               Job_Names  \
0              Software Developer - .Net
1                 Software Engineer (C#)
2                          Web developer
3                      Android Developer
4                          iOS developer
..                                   ...
120                    computer operator
121  Senior Software Engineer - Java/AWS
122                    ASP.NET Developer
123                Technology Specialist
124                   Big Data Developer

                                               Company  \
0                                       in MNC Company
1                    Kameda Infologics Private Limited
2                   Infomedia Solutions And Consultant
3        iQuest Management Consultants Private Limited
4     Sanda Office Management Services Private Limited
..                                                 ...
120    Muskaan Parveen (Proprietor Of Muskan Industry)
121                                   PlaceElements HR
122               IT-Scient Consulting Private Limited
123                        C P Careers Private Limited
124                        C P Careers Private Limited

                                              location
0                                                Delhi
1                                    Delhi, Thiruva...
2                                                 Pune
3                                                 Pune
4                                    Mumbai, Mumbai...
..                                                 ...
120                                  Cochin / Kochi...
121                                             Mumbai
122                                  Hyderabad / Se...
123                                  Bengaluru / Ba...
124                                  Bengaluru / Ba...

[125 rows x 3 columns]

Question 10:Write a python program to scrape ‘data scientist’ job listings for location ‘New Delhi’ from ‘Monster.com’. It
should include all the jobs listed for the next 5 pages.

In [64]:
driver=webdriver.Chrome(r'C:\Users\chromedriver')
driver.get('https://www.monsterindia.com/')

search_designation=driver.find_element_by_xpath('//input[@class="input search-bar home_ac"]')
search_designation.send_keys('Data Scientist')

In [66]:
search_location=driver.find_element_by_xpath('//input[@placeholder="Location"]')
search_location.send_keys('New Delhi')

In [67]:
search_btn=driver.find_element_by_xpath('//input[@class="btn"]')
search_btn.click()

In [68]:
#Lets Create Empty lists
job_titles=[]
company_names=[]
locations_list=[]
experiences_list=[]

In [69]:
start=0
end=5
for i in range(start,end):
    title=driver.find_elements_by_xpath('//h3[@class="medium"]')
    for i in title:
        if i.text is None:
            job_titles.append("--") 
        else:
            job_titles.append(i.text)
    
    company=driver.find_elements_by_xpath('//span[@class="company-name"]')
    for i in company:
        if i.text is None:
            company_names.append("--")
        else:
            company_names.append(i.text)
        
    location=driver.find_elements_by_xpath('//div[@class="col-xxs-12 col-sm-5 text-ellipsis"]')
    for i in location:
        if i.text is None:
            locations_list.append('--')
        else:
            locations_list.append(i.text)
        
    exp=driver.find_elements_by_xpath('//div[@class="exp col-xxs-12 col-sm-3 text-ellipsis"]')
    for i in exp:
        if i.text is None:
            experiences_list.append('--')
        else:
            experiences_list.append(i.text)
              
next_btn=driver.find_element_by_xpath('//button[@class="btn-next-prev btn-next"]')
next_btn.click()

In [70]:
print(len(job_titles),len(company_names),len(locations_list),len(experiences_list))

125 130 130 130

In [72]:
jobs=pd.DataFrame({'Company':company_names,
                  'Location':locations_list,
                  'Experience Required':experiences_list})
jobs

,Company,Location,Experience Required
0,Promax Legal Solution Private Limited,"Delhi, Mohali",8-15 Years
1,Structured Learning Assistance Consultants Ind...,"Delhi, Gurgaon / Gurugram",0-5 Years
2,Structured Learning Assistance Consultants Ind...,"Delhi, Noida",0-5 Years
3,Structured Learning Assistance Consultants Ind...,"Delhi, Noida",0-5 Years
4,Structured Learning Assistance Consultants Ind...,"Delhi, Noida",1-7 Years
...,...,...,...
125,Solitaire Infotech Solution,Delhi,1-3 Years
126,Hiren B Patel (Proprietor Of Bajaj India Service),Delhi,0-2 Years
127,Shakun Sharma (Proprietor Of FM Industry),Delhi,0-1 Years
128,Rudraksha Fire Security Services,"Delhi, Faridabad",0-2 Years
129,Aaryan Technology,"Ahmedabad, Delhi",0-5 Years

Question 4: Write a python program to scrap book name, author name, genre and book review of any 5 books from
‘www.bookpage.com’

In [76]:
def bookpage():
    response = requests.get('https://bookpage.com/reviews/')
    soup = BeautifulSoup(response.content, 'html.parser')
    url_tags = soup.find_all('div', attrs = {'class': 'row-fluid article-row'})
    urls = [i.find('h4').find_all('a')[0]['href'] for i in url_tags[0:5]]
    book_dict = {}
    book_dict["Book Name"] = []
    book_dict["Author"] = []
    book_dict["Genre"] = []
    book_dict["Review"] = []
    for url in urls:
        book = requests.get('https://www.bookpage.com'+url)
        soup = BeautifulSoup(book.content, 'html.parser')
        book_dict["Book Name"].append(soup.find('h1').text.replace('\n',''))
        book_dict["Author"].append(soup.find('h4').text.replace('\n',''))
        book_dict["Genre"].append(soup.find('p', attrs = {'class':'genre-links'}).text.replace('\n',''))
        book_dict["Review"].append(soup.find('div', attrs = {'class':'article-body'}).text.replace('\n',''))
    book_df = pd.DataFrame.from_dict(book_dict)
    book_df.to_csv('Book Reviews.csv', index = False)
    return book_df

# Calling Function
bookpage()

,Book Name,Author,Genre,Review
0,Summerwater,Sarah Moss,Fiction / Literary Fiction,"Gabriel García Márquez once wrote, “Everyone h..."
1,Winterkeep,Kristin Cashore,YA / YA Fiction,Fans of Kristin Cashore’s previous books set i...
2,Amari and the Night Brothers,B. B. Alston,Children's / Middle Grade,Things are not going well for Amari Peters. He...
3,The Crooked Path to Abolition,James Oakes,Nonfiction / History / American History,Abraham Lincoln was not an abolitionist. Inste...
4,The Children's Train,"Viola Ardone, Clarissa Botsford",Fiction / Historical Fiction,The displacement of children is a vexing probl...

Question 5: Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. 
You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
iii) Top 10 ODI bowlers along with the records of their team and rating.