In [40]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.25.8)

In [41]:
import pandas as pd
import selenium
from selenium import webdriver

In [469]:
driver=webdriver.Chrome(r'C:\Users\chromedriver')

In [66]:
# Question number 1's solution below

In [43]:
driver.get('https://www.naukri.com/')

In [44]:
#Finding elements for search bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys('Data Analyst')
search_location=driver.find_element_by_id('qsb-location-sugg')
search_location.send_keys('Bangalore')

In [45]:
# Now we need to click on the search button
search_button=driver.find_element_by_xpath('//div[@class="search-btn"]')
search_button.click()

In [46]:
# To create the empty lists
job_title=[] 
job_location=[] 
company_name=[]
experience_required=[]

In [57]:
# To extract the data with Job Titles
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="ad0454f7-5c7a-4555-8fe1-f46b122173c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="051882ca-aae9-46c6-a2ff-b4eebb75edf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="8aa3a581-6799-4b15-9caa-cb75584a7d6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="00bf2ab8-0d76-4822-b2e5-20d55879c7da")>]

In [58]:
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:4]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Immediate opening For Data Scientist/Data Analyst',
 'Business Data Analyst',
 'SAS AML Data Analyst / Trainee & Data Science, Python Trainee']

In [59]:
#To extract elements with job location
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="3a5c6bf0-7b87-4c8f-953e-769e8d38a201")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="b41c8893-6bf3-44c2-8b1c-9553c4c5c8c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="409d2dca-7d7e-4899-8823-ebb7172917fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="244482f2-014e-4b28-8fe8-84eb4de2ee90")>]

In [60]:
for i in loc_tags:
    location=i.text
    job_location.append(location)
    
job_location[0:4]

['Delhi NCR, Bengaluru, Hyderabad',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru(Whitefield)']

In [61]:
# To extract the elements with Company Name
comp_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
comp_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="b282f846-f3d8-4bd1-bb22-ec9265f5edea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="3648e5fb-b557-4403-874d-14617a1a95f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="13587057-2840-455d-aa7f-065dfe5903e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="1c0ff2a5-00bd-4591-a3f8-df248932a33f")>]

In [62]:
for i in comp_tags:
    comp=i.text
    company_name.append(comp)
company_name[0:4]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'NetApp',
 'MagicBase Royal BD Pvt Ltd']

In [53]:
# To extact the Element with the exp required
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="f8185675-c3af-4971-8a36-5115d9b460da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="64400513-e64a-4365-a589-2f9a1fc5f497")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="b47827ba-b7d8-41cd-9e53-5c2ad9861650")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="994836f2-dcc3-4f93-bfa7-1c9f822e3be7")>]

In [54]:
for i in exp_tags:
    exp=i.text
    experience_required.append(exp)
experience_required[0:4]

['0-2 Yrs', '0-3 Yrs', '2-3 Yrs', '0-5 Yrs']

In [63]:
# To check the length of elements required
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [64]:
jobs=pd.DataFrame({})
jobs['Title']=job_title
jobs['Location']=job_location
jobs['Company']=company_name
jobs['Experience Needed']=experience_required

In [65]:
jobs

,Title,Location,Company,Experience Needed
0,Fresher Data Engineer / Data Scientist / Data ...,"Delhi NCR, Bengaluru, Hyderabad",ACHYUTAS SOFT PRIVATE LIMITED,0-2 Yrs
1,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs
2,Business Data Analyst,Bengaluru,NetApp,2-3 Yrs
3,"SAS AML Data Analyst / Trainee & Data Science,...",Bengaluru(Whitefield),MagicBase Royal BD Pvt Ltd,0-5 Yrs
4,Hiring Data Analysts,Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
5,Hiring Data Analysts,Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
6,Data Analyst,"Bengaluru, India",GlaxoSmithKline Pharmaceuticals Limited,3-5 Yrs
7,Study Data Analyst,Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs
8,Data Analyst,Bengaluru,Cognizant Technology Solutions India Ltd,3-4 Yrs
9,Business Data Analyst | Reinsurance Domain,Bengaluru,Mphasis Limited,10-15 Yrs
10,Business Data Analyst,Bengaluru,GENPACT India Private Limited,3-6 Yrs
11,Fresher/Trainee/Internship - Data Analyst/Busi...,"Chennai, Bengaluru, Hyderabad",IIBM Institute of Business Management,0-5 Yrs
12,Data Analyst,"Pune, Delhi, Mumbai, Bengaluru, Hyderabad",Thinkbumblebee Analytics Pvt Ltd,3-6 Yrs
13,Hiring For Data Analyst ( Contractual Role),Bengaluru,Flipkart Internet Private Limited,3-5 Yrs
14,Global Medical Data Analyst,Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,5-10 Yrs
15,Hiring|| Data Analyst || Affluent Global servi...,Bengaluru,Affluent Global Services Pvt. Ltd.,4-6 Yrs
16,Data Analyst,Bengaluru,IBM India Pvt. Limited,5-7 Yrs
17,Data Analyst (Telcom domain),Bengaluru,Oracle India Pvt. Ltd.,5-10 Yrs
18,Retainer/Consultant - Product Manager - Data S...,Bengaluru,Fortune HR Consultant,2-7 Yrs
19,Sr . Data Analyst - Supporting Audit,Bengaluru,Visa Inc.,1-4 Yrs

# Solution number 2

In [68]:
# To open a new link of Naukri.com
driver.get("https://www.naukri.com/")

In [70]:
search_jobs=driver.find_element_by_id('qsb-keyword-sugg')
search_jobs.send_keys('Data Scientist')
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [71]:
search_button=driver.find_element_by_xpath('//div[@class="search-btn"]')
search_button.click()

In [72]:
#Lets create the Empty lists
job_title=[]
job_location=[]
company_name=[]
job_description=[]

In [73]:
# Extract the elements for job-Title
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="83ff7bbf-d18e-478f-ae85-8a08b94d0782")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="5944ed4d-0bf9-4b4b-8387-d07f9edafab1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="18597e45-8855-433b-9c84-de12aad906fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="5aaea5a3-ca2a-4b83-a179-f2119b84a965")>]

In [74]:
for i in title_tags:
    title=i.text
    job_title.append(title)
    
job_title[0:4]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Immediate opening For Data Scientist/Data Analyst',
 'Data Scientist - Machine Learning',
 'Senior Data Scientist - NLP/ Python/ R']

In [75]:
# Now lets extract the elements for job-location
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="a9aadf73-6332-4d15-9062-6ef471bc8a4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="3c50a6e6-a848-4fa3-be47-915522c66a35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="82937dba-956b-4e25-903e-533026a7ba18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="31b2b59c-eb9e-4e00-9f27-47fc186eb295")>]

In [76]:
for i in location_tags:
    loc=i.text
    job_location.append(loc)
    
job_location[0:4]

['Delhi NCR, Bengaluru, Hyderabad',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru, Hyderabad']

In [77]:
#Lets Extract the element for company name 
comp_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
comp_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="53b678ef-4ab4-4cc6-b964-1a1f89ffd5aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="4ebba67d-4e79-4323-bc39-237d6f7ebb10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="a96f188a-d06f-47a4-a82d-f68e8cf6e872")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="e1a814fa-e024-4e49-a48b-79b091341526")>]

In [78]:
for i in comp_tags:
    comp=i.text
    company_name.append(comp)
company_name[0:4]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'AVI Consulting LLP']

In [84]:
# Lets extract the job Descriptions
jd_tags=driver.find_elements_by_xpath('//div[@class="job-description fs12 grey-text"]')
jd_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="af128a77-c930-4282-8eb0-e22527b01349")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="9ad56603-bd3d-4d22-a525-20b79976fc6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="b8a44da5-b474-4446-b31d-066abefeb807")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8e7e08428523797c5c158b2d7b5dedb0", element="2affff9f-31ae-455b-9ed4-7f64c4801b1b")>]

In [85]:
for i in jd_tags:
    jd=i.text
    job_description.append(jd)
job_description[0:4]

['Building and iterating reports (with eventual design collaboration) based around a larg...',
 'In case you are trying to shift your career to Analytics and / or AI domain please do c...',
 'Experience working with some of the following frameworks and libraries: Pandas, Numpy, ...',
 'Experience with application development practices at scale, from problem definition to ...']

In [87]:
print(len(job_title),len(job_location),len(company_name),len(job_description))

20 20 20 20

In [88]:
jobs=pd.DataFrame({})
jobs['Title']=job_title
jobs['Location']=job_location
jobs['Company']=company_name
jobs['Description']=job_description
jobs

,Title,Location,Company,Description
0,Fresher Data Engineer / Data Scientist / Data ...,"Delhi NCR, Bengaluru, Hyderabad",ACHYUTAS SOFT PRIVATE LIMITED,Building and iterating reports (with eventual ...
1,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,In case you are trying to shift your career to...
2,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,Experience working with some of the following ...
3,Senior Data Scientist - NLP/ Python/ R,"Bengaluru, Hyderabad",AVI Consulting LLP,Experience with application development practi...
4,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",CES Ltd.,Logical and Analytical skills must be really s...
5,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",CES Ltd.,Logical and Analytical skills must be really s...
6,Artificial Intelligence Analyst/Data Scientist,"Mumbai, Bengaluru",TalentCo Search Pvt Ltd,Should have at-least 1 end-to-end ML project e...
7,Data Scientist,"Chennai, Pune, Mumbai, Bengaluru, Hyderabad, K...",Mailkit Private Limited,Candidates might get the opportunity to work f...
8,Global Medical Data Scientist,"Bengaluru, India",GlaxoSmithKline Pharmaceuticals Limited,"medical voice of customer feedback, customer l..."
9,Advanced Architect - Data Scientist,Bengaluru,Mphasis Limited,Experience working with enterprise architectur...
10,AI Resident Data Scientist Stats. Consl.,Bengaluru,Shell India Markets Private Limited,Roles and ResponsibilitiesThe RoleThe world fa...
11,AI Resident - Data Scientist,Bengaluru,Shell India Markets Private Limited,"Preferably expertise Deep Learning, Bayesian L..."
12,AI Resident - Data Scientist - NLP,Bengaluru,Shell India Markets Private Limited,"Preferably expertise Deep Learning, Bayesian L..."
13,Data Scientist (ON Contract),Bengaluru,Sandvik Asia Pvt. Ltd.,The main responsibilities are as follows: Rese...
14,Data Scientist (ON Contract),Bengaluru,Sandvik Asia Pvt. Ltd.,The main responsibilities are as follows: Rese...
15,Principal Data Scientist,Bengaluru,Signify,"PhD / Masters / BTech in computer science, com..."
16,Data Scientist,"Chennai, Bengaluru, Hyderabad",Virtusa Consulting Services Pvt Ltd,The ideal candidate is an experienced technolo...
17,Looking For Data scientist - Bangalore,"Mumbai, Bengaluru, Hyderabad",Element Infomatics (India) Pvt. Ltd.,Candidate should be:The ideal candidate will c...
18,Business Analyst - Data Scientist,Bengaluru,ExecBoardinAsia,Candidate must have a strong statistics backgr...
19,Data Scientist,Bengaluru,Applied Materials,Roles and ResponsibilitiesJob ExpectationsThe ...

In [89]:
jobs[0:10]

,Title,Location,Company,Description
0,Fresher Data Engineer / Data Scientist / Data ...,"Delhi NCR, Bengaluru, Hyderabad",ACHYUTAS SOFT PRIVATE LIMITED,Building and iterating reports (with eventual ...
1,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,In case you are trying to shift your career to...
2,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,Experience working with some of the following ...
3,Senior Data Scientist - NLP/ Python/ R,"Bengaluru, Hyderabad",AVI Consulting LLP,Experience with application development practi...
4,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",CES Ltd.,Logical and Analytical skills must be really s...
5,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",CES Ltd.,Logical and Analytical skills must be really s...
6,Artificial Intelligence Analyst/Data Scientist,"Mumbai, Bengaluru",TalentCo Search Pvt Ltd,Should have at-least 1 end-to-end ML project e...
7,Data Scientist,"Chennai, Pune, Mumbai, Bengaluru, Hyderabad, K...",Mailkit Private Limited,Candidates might get the opportunity to work f...
8,Global Medical Data Scientist,"Bengaluru, India",GlaxoSmithKline Pharmaceuticals Limited,"medical voice of customer feedback, customer l..."
9,Advanced Architect - Data Scientist,Bengaluru,Mphasis Limited,Experience working with enterprise architectur...

# Solution number 3

In [92]:
driver.get('https://www.naukri.com/')

In [93]:
search_jobs=driver.find_element_by_id('qsb-keyword-sugg')
search_jobs.send_keys("Data Scientist")

In [94]:
search_button=driver.find_element_by_xpath('//div[@class="search-btn"]')
search_button.click()

In [95]:
# Lets apply the Location filter
loc_filter=driver.find_element_by_xpath('//span[@title="Delhi/NCR"]')
loc_filter.click()

In [96]:
# Lets Apply the Salary Filter
salary_filter=driver.find_element_by_xpath('//span[@title="3-6 Lakhs"]')
salary_filter.click()

In [97]:
# lets create the empty lists
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [98]:
#Lets extract the elements with job-title
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="93f93ed77725aeea15bfa3ba5532132a", element="24ec4d64-7f6e-4134-8493-820e54b34a46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f93ed77725aeea15bfa3ba5532132a", element="cdb288ec-9771-424e-9571-689290c5ed24")>]

In [100]:
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:4]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Data Scientist - Python/Machine Learning',
 'Data Scientist',
 'Data Scientist']

In [101]:
#lets extract all the elements of Location
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="93f93ed77725aeea15bfa3ba5532132a", element="41b09ab2-6ca9-4f96-89ce-0e82cd885f48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f93ed77725aeea15bfa3ba5532132a", element="e85f5bb7-4d78-48b1-9dbe-516c366bee31")>]

In [102]:
for i in loc_tags:
    loc=i.text
    job_location.append(loc)
job_location[0:4]

['Delhi NCR, Bengaluru, Hyderabad', 'Noida', 'Gurgaon', 'Gurgaon']

In [103]:
#lets extract all the elements of Company name
comp_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
comp_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="93f93ed77725aeea15bfa3ba5532132a", element="56da3c95-1ad0-4890-9e8d-f2c1f6fb855f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f93ed77725aeea15bfa3ba5532132a", element="bbb73e1e-ef6e-436e-bb4d-9b4c45fd99ae")>]

In [104]:
for i in comp_tags:
    comp=i.text
    company_name.append(comp)
company_name[0:4]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'Jubna',
 'PureSoftware Pvt Ltd.',
 'World Wide Technology']

In [105]:
# lets extract all the elements for Experience required
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="93f93ed77725aeea15bfa3ba5532132a", element="b4da3227-579d-4447-b8c6-12475d22a833")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f93ed77725aeea15bfa3ba5532132a", element="d09de178-b14a-40f7-9fd7-4efa632e09aa")>]

In [106]:
for i in exp_tags:
    exp=i.text
    experience_required.append(exp)
experience_required[0:4]

['0-2 Yrs', '5-8 Yrs', '5-9 Yrs', '3-8 Yrs']

In [107]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [108]:
jobs=pd.DataFrame({})
jobs['Title']=job_title
jobs['Location']=job_location
jobs['Company']=company_name
jobs['Experience']=experience_required
jobs[0:10]

,Title,Location,Company,Experience
0,Fresher Data Engineer / Data Scientist / Data ...,"Delhi NCR, Bengaluru, Hyderabad",ACHYUTAS SOFT PRIVATE LIMITED,0-2 Yrs
1,Data Scientist - Python/Machine Learning,Noida,Jubna,5-8 Yrs
2,Data Scientist,Gurgaon,PureSoftware Pvt Ltd.,5-9 Yrs
3,Data Scientist,Gurgaon,World Wide Technology,3-8 Yrs
4,Data Scientist,"Delhi NCR, Gurgaon",Air Asia India Limited,1-4 Yrs
5,Lead Data Scientist,"Delhi NCR, Noida(Sector-142 Noida)",NEC CORPORATION INDIA PRIVATE LTD,9-14 Yrs
6,Excellent opportunity For Lead Data Scientist ...,"Delhi NCR(Sector-142 Noida), Noida",NEC CORPORATION INDIA PRIVATE LTD,9-14 Yrs
7,Lead Data Scientist,"Delhi NCR, Noida(Sector-142 Noida)",NEC CORPORATION INDIA PRIVATE LTD,9-14 Yrs
8,Excellent opportunity For Lead Data Scientist ...,"Delhi NCR(Sector-142 Noida), Noida",NEC CORPORATION INDIA PRIVATE LTD,9-14 Yrs
9,Job | Opportunity For Senior Role(Data Scienti...,"Gandhinagar, Delhi NCR, Mumbai, Gurgaon",BA Continuum India Pvt. Ltd,14-17 Yrs

# Solution number 4

In [109]:
driver.get("https://www.glassdoor.co.in/index.htm")

In [110]:
search_job=driver.find_element_by_id('sc.keyword')
search_job.send_keys('Data Scientist')
search_loc=driver.find_element_by_id('sc.location')
search_loc.send_keys('Noida')

In [111]:
search_btn=driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr"]')
search_btn.click()

In [112]:
#Lets create Empty lists
company_name=[]
days_ago=[]
ratings=[]

In [113]:
# lets extract the elements of Company_name
comp_tag=driver.find_elements_by_xpath('//div[@class="jobHeader d-flex justify-content-between align-items-start"]')
comp_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="93f93ed77725aeea15bfa3ba5532132a", element="626e36d3-4eec-46aa-9589-ff150a7351cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f93ed77725aeea15bfa3ba5532132a", element="5c71de13-aee6-466a-b6b6-b440fe8d2b83")>]

In [114]:
for i in comp_tag:
    comp=i.text
    company_name.append(comp)
company_name[0:4]

['AI Engineer',
 'RCM Aeroservices Ltd',
 'WSD Consultant',
 'ANI Calls India Private Limited']

In [115]:
#Lets extract the elements for job posted days ago
posted_tag=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')
posted_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="93f93ed77725aeea15bfa3ba5532132a", element="04c3ea1c-b161-4813-a5a5-933e979b9368")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f93ed77725aeea15bfa3ba5532132a", element="cdec3090-e433-4d24-b864-d1474abbc029")>]

In [116]:
for i in posted_tag:
    ago=i.text
    days_ago.append(ago)
days_ago[0:4]

['12d', '24h', '6d', '4d']

In [156]:
#Lets extract the Ratings
    rating_tags=driver.find_elements_by_xpath('//span[@class="compactStars "]')

from selenium.common.exceptions import NoSuchElementException
except nosuchelelementexception:
ratings.append("no ratings available")
rating_tags[0:2]

SyntaxError: invalid syntax (<ipython-input-156-344e43f20d86>, line 5)

In [118]:
for i in rating_tags:
    rating=i.text
    ratings.append(rating)
ratings[0:4]

['3.2', '1.3', '3.3', '3.9']

SyntaxError: invalid syntax (<ipython-input-127-6533a79c89ee>, line 2)

In [120]:
print(len(company_name),len(days_ago),len(ratings))

30 30 17

In [128]:
jobs=pd.DataFrame({})
jobs['Company']=company_name
jobs['Job Posted Days Ago']=days_ago
jobs['Ratings']=ratings
jobs[0:10]

ValueError: Length of values does not match length of index

# SOLUTION NUMBER 6

In [184]:
driver.get('https://www.flipkart.com/')

In [185]:
search_product=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_product.send_keys('Sunglasses')

In [186]:
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [187]:
#Create the Empty Lists
brand=[]
product_description=[]
price=[]
discount=[]

In [188]:
#Lets extract the elements for Brand Name
brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="fbe7eb18c0ecd7add5b4f54d6b5efcd7", element="ca5a23d1-1a01-46fd-972f-7910c3294fdc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbe7eb18c0ecd7add5b4f54d6b5efcd7", element="47881728-5446-46aa-9c9e-a677fe239595")>]

In [189]:
for i in brand_tag:
    com=i.text
    brand.append(com)
brand[0:5]

['Tazzx', 'STYLE GURU', 'FDA COLLECTION', 'FDA COLLECTION', 'JOHAENA']

In [190]:
#Lets extract the elements for Price
price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="fbe7eb18c0ecd7add5b4f54d6b5efcd7", element="64a67547-e88b-4d1a-b6a5-454749ee2cb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbe7eb18c0ecd7add5b4f54d6b5efcd7", element="7168ce49-8373-4ac3-9717-8fc007c57aeb")>]

In [191]:
for i in price_tag:
    rate=i.text
    price.append(rate)
price[0:5]

['269', '799', '199', '188', '156']

In [192]:
#Lets extract the elements for Discount
dis_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
dis_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="fbe7eb18c0ecd7add5b4f54d6b5efcd7", element="f2f22e5f-72ff-4a17-b22c-6099d2073870")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbe7eb18c0ecd7add5b4f54d6b5efcd7", element="5253d916-6152-42e8-85e8-a4cab0567874")>]

In [193]:
dis_tag[39].text

'88% off'

In [194]:
for i in dis_tag:
    disc=i.text
    discount.append(disc)
discount[0:5]

['86% off', '77% off', '84% off', '87% off', '87% off']

In [195]:
# To get on to the next page
next_btn=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
next_btn.click()

In [196]:
brand1=[]
product_description1=[]
price1=[]
discount1=[]

In [197]:
#Lets extract the elements for Brand Name
brand_tag1=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_tag1[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="fbe7eb18c0ecd7add5b4f54d6b5efcd7", element="0299102c-6937-43c5-aa35-c4983edba450")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbe7eb18c0ecd7add5b4f54d6b5efcd7", element="731035c9-9896-4064-8bf9-ef7a0fef4d45")>]

In [198]:
for i in brand_tag1:
    com=i.text
    brand1.append(com)
brand1[0:5]

['Online Mantra', 'Silver Kartz', 'povty', 'Tazzx', 'PIRASO']

In [199]:
#Lets extract the elements for Price
price_tag1=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_tag1[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="fbe7eb18c0ecd7add5b4f54d6b5efcd7", element="b55e53ef-97cc-4b62-883d-f0577499b9ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbe7eb18c0ecd7add5b4f54d6b5efcd7", element="16dce9a4-5a68-474a-9c9f-57b5bcf404fc")>]

In [200]:
for i in price_tag1:
    rate=i.text
    price1.append(rate)
price1[0:5]

['160', '251', '262', '269', '210']

In [201]:
#Lets extract the elements for Discount
dis_tag1=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
dis_tag1[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="fbe7eb18c0ecd7add5b4f54d6b5efcd7", element="d71c0f65-832a-4409-a3db-3b125df7943a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fbe7eb18c0ecd7add5b4f54d6b5efcd7", element="1b570256-5d12-4c61-a106-54306d8f7020")>]

In [202]:
for i in dis_tag1:
    dst=i.text
    discount1.append(dst)
discount1[0:4]

['68% off', '79% off', '73% off', '86% off']

In [203]:
Branding=brand + brand1
RATES=price + price1
DISCOUNT=discount + discount1
print(Branding,RATES,DISCOUNT)

['Tazzx', 'STYLE GURU', 'FDA COLLECTION', 'FDA COLLECTION', 'JOHAENA', 'Phenomenal', 'Rozzetta Craft', 'Silver Kartz', 'FDA COLLECTION', 'ROZZETTA CRAFT', 'Winsome', 'Silver Kartz', 'shah collections', 'Dannilo', 'Phenomenal', 'Silver Kartz', 'shadz', 'shah collections', 'funglasses', 'Silver Kartz', 'Fastrack', 'Riffko', 'LOPO', 'STYLE GURU', 'Trendy Glasses', 'HAMIW COLLECTION', 'PIRASO', 'Tazzx', 'Phenomenal', 'Singco India', 'like future', 'Silver Kartz', 'Riffko', 'ROZZETTA CRAFT', 'Dannilo', 'ROYAL SON', 'Rich Club', 'shadz', 'funglasses', 'Silver Kartz', 'Online Mantra', 'Silver Kartz', 'povty', 'Tazzx', 'PIRASO', 'PIRASO', 'FDA COLLECTION', 'Aislin', 'ROZZETTA CRAFT', 'INSH', 'Trendy Glasses', 'ROYAL SON', 'kingsunglasses', 'kingscape', 'Fastrack', 'Aislin', 'NuVew', 'Fastrack', 'funglasses', 'Specsmakers', 'Deixels', 'PIRASO', 'Fastrack', 'Specsmakers', 'shah collections', 'peter india', 'HIPPON', 'NKZ', 'kingsunglasses', 'Specsmakers', 'RPR', 'Royal Son', 'Shahs collections', 'Specsmakers', 'Royal Son', 'Fastrack', 'like future', 'Fastrack', 'Phenomenal', 'Gansta'] ['269', '799', '199', '188', '156', '399', '398', '224', '161', '449', '172', '242', '331', '198', '399', '242', '189', '312', '170', '233', '759', '175', '145', '799', '249', '225', '349', '168', '299', '189', '181', '251', '189', '426', '201', '569', '179', '99', '169', '188', '160', '251', '262', '269', '210', '217', '161', '1,030', '426', '327', '234', '1,299', '122', '309', '645', '451', '375', '643', '125', '470', '199', '331', '723', '516', '340', '165', '182', '248', '284', '470', '165', '379', '128', '696', '255', '660', '229', '517', '399', '205'] ['86% off', '77% off', '84% off', '87% off', '87% off', '80% off', '73% off', '85% off', '83% off', '79% off', '82% off', '79% off', '80% off', '83% off', '80% off', '79% off', '85% off', '75% off', '82% off', '84% off', '15% off', '82% off', '79% off', '77% off', '86% off', '84% off', '86% off', '83% off', '85% off', '72% off', '83% off', '79% off', '84% off', '78% off', '79% off', '71% off', '77% off', '85% off', '83% off', '88% off', '68% off', '79% off', '73% off', '86% off', '86% off', '86% off', '83% off', '74% off', '80% off', '86% off', '81% off', '48% off', '87% off', '80% off', '19% off', '72% off', '64% off', '19% off', '83% off', '52% off', '88% off', '79% off', '19% off', '60% off', '79% off', '87% off', '84% off', '80% off', '81% off', '52% off', '87% off', '74% off', '74% off', '65% off', '80% off', '17% off', '82% off', '35% off', '80% off', '84% off']

In [204]:
print(len(Branding),len(RATES),len(DISCOUNT))

80 80 80

In [205]:
sunglasses=pd.DataFrame({})
sunglasses['BRANDS']=Branding
sunglasses['PRICE']=RATES
sunglasses['DISCOUNTSSS']=DISCOUNT
sunglasses

            BRANDS PRICE DISCOUNTSSS
0            Tazzx  269     86% off
1       STYLE GURU  799     77% off
2   FDA COLLECTION  199     84% off
3   FDA COLLECTION  188     87% off
4          JOHAENA  156     87% off
..             ...   ...         ...
75        Fastrack  660     17% off
76     like future  229     82% off
77        Fastrack  517     35% off
78      Phenomenal  399     80% off
79          Gansta  205     84% off

[80 rows x 3 columns]

# SOLUTION NUM 7

In [277]:
#Lets open the website on aur web automated brouser
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [278]:
# Lets make the blank lists:
review_summary1=[]
full_review1=[]
rating1=[]

In [279]:
#Lets extract the Review sumary
sum_tag1=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
sum_tag1[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="4f4ddfe04bad9fa3549af74d7fb4c14f", element="1fcde1d7-58f9-4c6f-bc1a-ad5f4041d4d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4f4ddfe04bad9fa3549af74d7fb4c14f", element="86170189-ddc7-4d2d-9313-f0696a3f7b05")>]

In [280]:
for i in sum_tag1:
    summ=i.text
    review_summary1.append(summ)
review_summary1[0:3]

['Perfect product!', 'Great product', 'Perfect product!']

In [281]:
#lets extract the Full Reviews
full_tag1=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [282]:
for i in full_tag1:
    full=i.text
    full_review1.append(full)
full_review1[0:1]

['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .']

In [283]:
#lets extract the Ratings
rating_tag1=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

In [287]:
for i in rating_tag1:
    star=i.text
    rating1.append(star)
rating1[0:2]

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=87.0.4280.88)

In [288]:
# To click on to the next page
next_btn=driver.find_element_by_xpath('//*[text()="Next"]')
next_btn.click()

In [289]:
review_summary2=[]
full_review2=[]
rating2=[]

In [290]:
sum_tag2=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

In [291]:
for i in sum_tag2:
    summ=i.text
    review_summary2.append(summ)
review_summary2[0:3]

['Brilliant', 'Awesome', 'Excellent']

In [292]:
#lets extract the Full Reviews
full_tag2=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [293]:
for i in full_tag2:
    full=i.text
    full_review2.append(full)
full_review2[0:1]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life']

In [294]:
#lets extract the Ratings
rating_tag2=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

In [295]:
for i in rating_tag2:
    star=i.text
    rating2.append(star)
rating2[0:2]

['5', '5']

In [296]:
# To click on to the next page
next_btn=driver.find_element_by_xpath('//*[text()="Next"]')
next_btn.click()

In [297]:
review_summary3=[]
full_review3=[]
rating3=[]

In [298]:
# Lets extract the review summary
sum_tag3=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

In [299]:
for i in sum_tag3:
    summ=i.text
    review_summary3.append(summ)
review_summary3[0:3]

['Mind-blowing purchase', 'Mind-blowing purchase', 'Highly recommended']

In [300]:
#lets extract the Full Reviews
full_tag3=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [301]:
for i in full_tag3:
    full=i.text
    full_review3.append(full)
full_review3[0:1]

['awesome Phone Smooth Touch Too good Sexyy looks one word Awesome']

In [302]:
#lets extract the Ratings
rating_tag3=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

In [303]:
for i in rating_tag3:
    star=i.text
    rating3.append(star)
rating3[0:2]

['5', '5']

In [304]:
# To click on to the next page
next_btn=driver.find_element_by_xpath('//*[text()="Next"]')
next_btn.click()

In [305]:
# To create the blank lists
review_summary4=[]
full_review4=[]
rating4=[]

In [306]:
# Lets extract the review summary
sum_tag4=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

In [307]:
for i in sum_tag4:
    summ=i.text
    review_summary4.append(summ)
review_summary4[0:3]

['Perfect product!', 'Decent product', 'Wonderful']

In [308]:
#lets extract the Full Reviews
full_tag4=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [309]:
for i in full_tag4:
    full=i.text
    full_review4.append(full)
full_review4[0:1]

['After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use']

In [310]:
#lets extract the Ratings
rating_tag4=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

In [311]:
for i in rating_tag4:
    star=i.text
    rating4.append(star)
rating4[0:2]

['5', '3']

In [312]:
# To click on to the next page
next_btn=driver.find_element_by_xpath('//*[text()="Next"]')
next_btn.click()

In [313]:
# To create the blank lists
review_summary5=[]
full_review5=[]
rating5=[]

In [314]:
# Lets extract the review summary
sum_tag5=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

In [315]:
for i in sum_tag5:
    summ=i.text
    review_summary5.append(summ)
review_summary5[0:3]

['Fabulous!', 'Perfect product!', 'Brilliant']

In [316]:
#lets extract the Full Reviews
full_tag5=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [317]:
for i in full_tag5:
    full=i.text
    full_review5.append(full)
full_review5[0:1]

['I really liked the budget iPhone. First I thought display would be issue as it is a LCD with less pixels, then after using my perception changed and I never felt like I am using an outdated display. Though I also use S 10+ with Amoled display.\n\nSo this is perfect iPhone and a real value for money.']

In [318]:
#lets extract the Ratings
rating_tag5=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

In [319]:
for i in rating_tag5:
    star=i.text
    rating5.append(star)
rating5[0:2]

['5', '5']

In [320]:
# Lets Add all the data so that we can out that in a DataFrame
review_summary=review_summary1 + review_summary2 + review_summary3 + review_summary4 + review_summary5
full_review=full_review1 + full_review2 + full_review3 + full_review4 + full_review5
rating=rating1 + rating2 + rating3 + rating4 + rating5

In [321]:
print(len(review_summary),len(full_review),len(rating))

50 50 50

In [322]:
Reviews=pd.DataFrame({})
Reviews['Reviews-Summary']=review_summary
Reviews['Full-Reviews']=full_review
Reviews['Customer Ratings']=rating
Reviews

,Reviews-Summary,Full-Reviews,Customer Ratings
0,Perfect product!,Amazing phone with great cameras and better ba...,5
1,Great product,Amazing Powerful and Durable Gadget.\n\nIm am...,5
2,Perfect product!,Its a must buy who is looking for an upgrade ...,5
3,,,
4,,,
5,,,
6,,,
7,,,
8,,,
9,,,
10,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...,5
11,Awesome,Very excited to have this phone. This phone ha...,5
12,Excellent,Amazing camera and feel super machine I am not...,5
13,Fabulous!,awesome phone to have. it has got many smart f...,5
14,Simply awesome,It's very high performances devise i am like t...,5
15,Fabulous!,This is my first iOS phone. I am very happy wi...,5
16,Classy product,Superb Product !!!\nA big and worthy upgrade f...,5
17,Terrific,Really worth of money. i just love it. It is t...,5
18,Perfect product!,Awesome purchase. Amazing phone with good batt...,5
19,Good choice,So far its been an AMAZING experience coming ...,4
20,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...,5
21,Mind-blowing purchase,"Best Quality Product OF iPhone Series , Sound ...",5
22,Highly recommended,What a camera .....just awesome ..you can feel...,5
23,Highly recommended,It's my first time to use iOS phone and I am l...,5
24,Brilliant,"I have migrated from OP 7pro... and trust me, ...",5
25,Just wow!,Beautiful phone with beautiful design. I have ...,5
26,Fabulous!,Just an awesome phone...upgraded from 6s to 11...,5
27,Fabulous!,I purchased the iPhone 11 a month back. I must...,5
28,Excellent,Value for money product. This iphone 11 is rea...,5
29,Perfect product!,"Battery backup is extraordinary, camera is dec...",5
30,Perfect product!,After 1 month use I found camera quality best ...,5
31,Decent product,Everything u ll like it when u use this iPhone...,3
32,Wonderful,I just directly switch from iphone 6s to iphon...,5
33,Terrific purchase,"Well , as we all know if its not an Iphone , i...",5
34,Just wow!,Great iphone.\nI am writing this review after ...,5
35,Terrific purchase,I use a Note10+ and have been using both iOS a...,5
36,Awesome,The phone is completely good\nAs far as camera...,5
37,Value-for-money,As usual a great product from Apple. but the l...,4
38,Wonderful,Superfast delivery by Flipkart. Thanks.\n\n1. ...,5
39,Very Good,impressive super phone and best in class camer...,4
40,Fabulous!,I really liked the budget iPhone. First I thou...,5
41,Perfect product!,Worth the money starting first from its perfo...,5
42,Brilliant,Excellent camera and display touching very nic...,5
43,Super!,Id like to start by saying that the overall e...,5
44,Awesome,Cant beat the software and hardware integrati...,5
45,Worth every penny,"Just go for it without a second thought, if yo...",5
46,Must buy!,I will just say its an awesome phone. Starting...,5
47,Mind-blowing purchase,i was confused between 11 and 11 pro. i was go...,5
48,Terrific,Very good smartphone and value for smoother an...,5
49,Good quality product,"Awesome camera, smooth and fast UI, display is...",4

# SOLUTION NUMBER 8

In [368]:
# Lets open a new website i:e flipkart.com
driver.get('https://www.flipkart.com/')

In [369]:
search_product=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_product.send_keys('sneakers')

In [370]:
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [371]:
# We have to create the empty lists
brand1=[]
description1=[]
price1=[]
discount1=[]

In [372]:
# TO extract all the elements for Brands
brand_tag1=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

In [373]:
for i in brand_tag1:
    rate=i.text
    brand1.append(rate)
brand1[0:3]

['Rockfield', 'Rockfield', 'Chevit']

In [374]:
#To extract the elements for Product Description
desc_tag1=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

In [375]:
for i in desc_tag1:
    descrip=i.text
    description1.append(descrip)
description1[0:3]

['Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men']

In [376]:
# To extract the elemnts for Price
rate_tag1=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [377]:
for i in rate_tag1:
    rate=i.text
    price1.append(rate)
price1[0:5]

['379', '417', '579', '236', '240']

In [378]:
#To Extract the elements for Discounts
disc_tag1=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

In [379]:
for i in disc_tag1:
    dics=i.text
    discount1.append(dics)
discount1[0:4]

['62% off', '58% off', '70% off', '52% off']

In [380]:
#To click on the next button
next_btn=driver.find_element_by_xpath('//a[@class="ge-49M"]')
next_btn.click()

In [381]:
# We have to create the empty lists
brand2=[]
description2=[]
price2=[]
discount2=[]

In [382]:
# TO extract all the elements for Brands
brand_tag2=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

In [383]:
for i in brand_tag2:
    rate=i.text
    brand2.append(rate)
brand2[0:3]

['World Wear Footwear', 'Chevit', 'Oricum']

In [384]:
#To extract the elements for Product Description
desc_tag2=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

In [385]:
for i in desc_tag2:
    descrip=i.text
    description2.append(descrip)
description2[0:3]

['Sneakers For Men',
 '169 Smart Sky Blue Lace-Ups Casuals for Men Sneakers Fo...',
 'ORIFWSH(A)-303 Sneakers For Men']

In [386]:
# To extract the elemnts for Price
rate_tag1=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [387]:
for i in rate_tag1:
    rate=i.text
    price2.append(rate)
price2[0:5]

['240', '236', '284', '474', '498']

In [388]:
#To Extract the elements for Discounts
disc_tag1=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

In [389]:
for i in disc_tag1:
    dics=i.text
    discount2.append(dics)
discount2[0:4]

['51% off', '52% off', '43% off', '52% off']

In [390]:
#To click on the next button to get on page num 3
next_btn=driver.find_element_by_xpath('//*[text()="Next"]')
next_btn.click()

In [391]:
# We have to create the empty lists
brand3=[]
description3=[]
price3=[]
discount3=[]

In [392]:
# TO extract all the elements for Brands
brand_tag2=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

In [393]:
for i in brand_tag2:
    rate=i.text
    brand3.append(rate)
brand3[0:3]

['Tryviz', 'Rockfield', 'Chevit']

In [394]:
#To extract the elements for Product Description
desc_tag2=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

In [395]:
for i in desc_tag2:
    descrip=i.text
    description3.append(descrip)
description3[0:3]

['Sneakers For Men',
 'Smart Casuals Canvas Shoes Combo pack of 2 Sneakers For...',
 'Mesh Casual Sneakers Shoes for Men And Boys Sneakers Fo...']

In [396]:
# To extract the elemnts for Price
rate_tag1=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [397]:
for i in rate_tag1:
    rate=i.text
    price3.append(rate)
price3[0:5]

['251', '426', '379', '474', '367']

In [398]:
#To Extract the elements for Discounts
disc_tag1=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

In [399]:
for i in disc_tag1:
    dics=i.text
    discount3.append(dics)
discount3[0:4]

['68% off', '57% off', '62% off', '26% off']

In [400]:
Brands=brand1 + brand2 + brand3
Product_Description= description1 + description2 + description3
Price= price1 + price2 + price3
Discounts= discount1 + discount2 + discount3

In [401]:
print(len(Brands),len(Product_Description),len(Price), len(Discounts))

120 100 120 119

In [402]:
Sneakers=pd.DataFrame({})
Sneakers['Brand Name']=Brands
Sneakers['Description']=Product_Description
Sneakers['RATES']=Price
Sneakers['DISCOUNTS']=Discounts
Sneakers[0:100]

ValueError: Length of values does not match length of index

# SOLUTION NUMBER 9

In [415]:
driver.get('https://www.myntra.com/shoes')

In [416]:
# To put the Price filter
price_btn=driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]/label/div')
price_btn.click()

In [417]:
# To put the color filer
color_btn=driver.find_element_by_xpath('//li[@class="colour-listItem"]/label/div')
color_btn.click()

In [418]:
# To create the blank lists
brand1=[]
pro_description=[]
price1=[]

In [419]:
# To extract the elements for the brands
brand_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')

In [420]:
for i in brand_tag:
    company=i.text
    brand1.append(company)
brand1[0:5]

['ADIDAS Originals', 'ADIDAS Originals', 'ADIDAS Originals', 'Nike', 'Nike']

In [421]:
# To extract the elements for the Product Description
desc_tag=driver.find_elements_by_xpath('//h4[@class="product-product"]')

In [422]:
for i in desc_tag:
    desc=i.text
    pro_description.append(desc)
pro_description[0:4]

['Men Nite Jogger Fluid Sneakers',
 'Women Superstar Metal Toe',
 'Men LXCON 94 Sneakers',
 'Men FREE RN 5.0 Running Shoes']

In [424]:
# To extract the elements for the Price
rate_tag=driver.find_elements_by_xpath('//div[@class="product-price"]')

In [425]:
for i in rate_tag:
    rate=i.text
    price1.append(rate)
price1[0:5]

['Rs. 12999', 'Rs. 8999', 'Rs. 11999', 'Rs. 7995', 'Rs. 11995']

In [426]:
# To click on the next button
next_btn=driver.find_element_by_xpath('//*[text()="Next"]')
next_btn.click()

In [427]:
# To create the blank lists
brand2=[]
pro_description2=[]
price2=[]

In [428]:
# To extract the elements for the brands for page 2
brand_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')

In [429]:
for i in brand_tag:
    company=i.text
    brand2.append(company)
brand2[0:5]

['ADIDAS Originals', 'Puma', 'Cole Haan', 'ADIDAS Originals', 'Puma']

In [430]:
# To extract the elements for the Product Description for page 2
desc_tag=driver.find_elements_by_xpath('//h4[@class="product-product"]')

In [431]:
for i in desc_tag:
    desc=i.text
    pro_description2.append(desc)
pro_description2[0:4]

['Men LXCON 94 Sneakers',
 'Men SPEED 500 2 Running Shoes',
 'Men Solid Leather Brogues',
 'Women Superstar Metal Toe']

In [432]:
# To extract the elements for the Price for page 2
rate_tag=driver.find_elements_by_xpath('//div[@class="product-price"]')

In [433]:
for i in rate_tag:
    rate=i.text
    price2.append(rate)
price2[0:5]

['Rs. 11999',
 'Rs. 9499Rs. 9999(5% OFF)',
 'Rs. 9499Rs. 18999(50% OFF)',
 'Rs. 8999',
 'Rs. 9999']

In [434]:
BRAND=brand1+brand2
DESCRIPTION=pro_description + pro_description2
PRICE= price1 + price2

In [435]:
print(len(BRAND),len(DESCRIPTION),len(PRICE))

100 100 100

In [436]:
Shoes=pd.DataFrame({})
Shoes['BRAND NAME']=BRAND
Shoes['PRODUCT DESCRIPTION']=DESCRIPTION
Shoes['RATES']=PRICE
Shoes

,BRAND NAME,PRODUCT DESCRIPTION,RATES
0,ADIDAS Originals,Men Nite Jogger Fluid Sneakers,Rs. 12999
1,ADIDAS Originals,Women Superstar Metal Toe,Rs. 8999
2,ADIDAS Originals,Men LXCON 94 Sneakers,Rs. 11999
3,Nike,Men FREE RN 5.0 Running Shoes,Rs. 7995
4,Nike,Men AIR ZOOM Running Shoes,Rs. 11995
...,...,...,...
95,Cole Haan,Women Leather Loafers,Rs. 8499Rs. 16999(50% OFF)
96,UNDER ARMOUR,Women HOVR Rise Training Shoes,Rs. 8499Rs. 9999(15% OFF)
97,Cole Haan,Women Ballerinas,Rs. 8999Rs. 17999(50% OFF)
98,Geox,Women Slip-On Sneakers,Rs. 8499
99,Puma,Women Defy Mid Metal Shoes,Rs. 7999

# SOLUTION NUMBER 10

In [470]:
#lets open the automated website
driver.get('https://www.amazon.in/')

In [471]:
#To put the desiareable product in the search box
search_btn=driver.find_element_by_id('twotabsearchtextbox')
search_btn.send_keys('Laptop')

In [472]:
# To click the search button
search_button=driver.find_element_by_id('nav-search-submit-text')
search_button.click()

In [473]:
# To put the filter for Intel core i7
i7_btn=driver.find_element_by_xpath("//li[@aria-label='Intel Core i7']/span/a").click()

In [474]:
#To put the filter for Intel core i9
i9_btn=driver.find_element_by_xpath("//li[@aria-label='Intel Core i9']/span/a")
i9_btn.click()

In [475]:
#To put the Blank Lists
title=[]
rating=[]
price=[]

In [476]:
#To extract the elements for title
title_tag=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')

In [477]:
for i in title_tag:
    tit=i.text
    title.append(tit)
title[0:3]

['Lenovo IdeaPad Flex 5 AMD Ryzen 5 4500U 14-inch FHD IPS 2-in-1 Convertible Laptop (8GB/512GB SSD/Windows 10/Office19/Integrated AMD Radeon Graphics/Fingerprint Reader/Graphite Grey/1.5Kg), 81X200FCIN',
 'Lenovo IdeaPad S340 10th Gen Intel Core i5 14 inch Full HD IPS Thin and Light Laptop (8GB/1TB HDD + 256GB SSD/Windows 10/MS Office 2019/Platinum Grey/1.6Kg), 81VV00KKIN',
 'DELL Inspiron 3583 15.6inch HD Laptop (Pentium Gold 5405U/4GB/1TB HDD/Win10 + MS Office/Intel UHD Graphics/ Silver) SLV-C563119WIN9']

In [478]:
#To Extract the Rating elements
from selenium.common.exceptions import NoSuchElementException
try:
    rating_tag=driver.find_elements_by_xpath('//a[@class="a-popover-trigger a-declarative"]')
    for i in rating_tag:
        star=i.text
        rating.append(star)
        
except NoSuchElementException:         #handling no such element exception
    ratings.append('No details available')

In [479]:

rating[0:3]

['', '', '']

In [480]:
# To extract the Price element
price_tag=driver.find_elements_by_xpath('//span[@class="a-price"]')

In [481]:
for i in price_tag:
    rate=i.text
    price.append(rate)
price[0:3]

['59,199', '56,002', '27,990']

In [482]:
print(len(title),len(rating),len(price))

26 23 26

In [463]:
laptop=pd.DataFrame({})
laptop['DESCRIPTION']=title
laptop['COST OF LAPTOP']=price
laptop[0:10]

                                         DESCRIPTION COST OF LAPTOP
0  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...      1,22,000
1  HP Pavilion x360 Core i7 8th Gen 14-inch Touch...        85,990
2  Asus VivoBook Gaming (2020) Core i7 10th Gen -...        81,990
3  Asus ROG Strix G15 Core i7 10th Gen - (8 GB/51...        84,990
4  HP Pavilion x360 Core i7 8th Gen 14-inch Touch...        85,990
5  Lenovo ThinkPad E14 Intel Core i7 10th Gen14-i...        84,990
6  (Renewed) Lenovo ThinkPad High Performance 12....        34,999
7  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...        95,890
8  HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...        74,890
9  ASUS TUF Gaming F15 Laptop 15.6" FHD Intel Cor...        73,990